<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Spotmus Web</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
    <!-- materialize -->
    <link rel="stylesheet" href="/stylesheets/materialize.css"/>
    <!-- criados -->
    <link rel="stylesheet" href="/stylesheets/player.css" />
    <link rel="stylesheet" href="/stylesheets/slider.css"/>
    <!-- animacoes -->
    <link rel="stylesheet" href="/stylesheets/all-animation.min.css"/>
</head>
<body>

<div class="containerLogin">
    <div class="top-bar">
        <div class="container">
            <div class="player-controls">
                <span class="player-prev">Prev</span>
                <span class="player-play">Play</span>
                <span class="player-pause">Pause</span>
                <span class="player-stop">Stop</span>
                <span class="player-next">Next</span>
            </div>
            <div class="player"></div>
            <div class="player-timeline">
                <div class="player-timeline-control"></div>
            </div>
            <div class="player-display">
                Playing: <span class="player-current-track"></span>
            </div>
        </div>
    </div>
</div>

<!-- jquery -->
<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
<!-- jplayer -->
<script type="text/javascript" src="/javascripts/jplayer/jquery.jplayer.js"></script>
<script type="text/javascript" src="/javascripts/player.js"></script>
<!-- materialize -->
<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
<!-- bootstrap -->
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/110606e01b.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
<!-- criados -->
<script type="text/javascript" src="/javascripts/functions.js"></script>
</body>
</html>