<!-- jquery -->
<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
<!-- bootstrap -->
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/110606e01b.js"></script>
<!-- criados -->
<script type="text/javascript" src="/javascripts/functions.js"></script>
</body>
</html>